<a href="https://colab.research.google.com/github/SivarajTechM/StudyNotes/blob/master/Codingbat_Python_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://codingbat.com/python

 **Solutions for Warmup - 1**

1. sleep_in

The parameter weekday is True if it is a weekday, and the parameter vacation is True if we are on vacation. We sleep in if it is not a weekday or we're on vacation. Return True if we sleep in.


* sleep_in(False, False) → True
* sleep_in(True, False) → False
* sleep_in(False, True) → True

In [0]:
def sleep_in(weekday, vacation):
  if not weekday or vacation:
    return True
  else:
    return False
 
print(sleep_in(False, False))
print(sleep_in(True,False))
print(sleep_in(False,True))

True
False
True

2. monkey_trouble

We have two monkeys, a and b, and the parameters a_smile and b_smile indicate if each is smiling. We are in trouble if they are both smiling or if neither of them is smiling. Return True if we are in trouble.


* monkey_trouble(True, True) → True
* monkey_trouble(False, False) → True
* monkey_trouble(True, False) → False

In [0]:
def monkey_trouble(a_smile,b_smile):
  if a_smile == b_smile:
    return True
  else:
    return False
  
print(monkey_trouble(True,True))
print(monkey_trouble(False,False))
print(monkey_trouble(True,False))

True
True
False

3. sum_double

Given two int values, return their sum. Unless the two values are the same, then return double their sum.


* sum_double(1, 2) → 3
* sum_double(3, 2) → 5
* sum_double(2, 2) → 8

In [0]:
def sum_double(a, b):
  if a == b:
    return 2*(a+b)
  else:
    return a+b
  
print(sum_double(1,2))
print(sum_double(3,2))
print(sum_double(2,2))

3
5
8

4. diff21

Given an int n, return the absolute difference between n and 21, except return double the absolute difference if n is over 21.


* diff21(19) → 2
* diff21(10) → 11
* diff21(21) → 0

In [0]:
def diff21(n):
  if n > 21:
    return 2*(n-21)
  else:
    return abs(n-21)
 
print(diff21(19))
print(diff21(10))
print(diff21(21))

2
11
0

5. parrot_trouble

We have a loud talking parrot. The "hour" parameter is the current hour time in the range 0..23. We are in trouble if the parrot is talking and the hour is before 7 or after 20. Return True if we are in trouble.


* parrot_trouble(True, 6) → True
* parrot_trouble(True, 7) → False
* parrot_trouble(False, 6) → False

In [0]:
def parrot_trouble(talking,hour):
  if talking and (hour < 7 or hour >20):
    return True
  else:
    return False
  
print(parrot_trouble(True,6))
print(parrot_trouble(True,7))
print(parrot_trouble(False,6))

True
False
False

6. makes10

Given 2 ints, a and b, return True if one if them is 10 or if their sum is 10.


* makes10(9, 10) → True
* makes10(9, 9) → False
* makes10(1, 9) → True

In [0]:
def makes10(a, b):
  if a == 10 or b ==10 or (a+b == 10):
    return True
  else:
    return False
  
print(makes10(9,10))
print(makes10(9,9))
print(makes10(1,9))

True
False
True

7. near_hundred

Given an int n, return True if it is within 10 of 100 or 200. Note: abs(num) computes the absolute value of a number.


* near_hundred(93) → True
* near_hundred(90) → True
* near_hundred(89) → False

In [0]:
def near_hundred(n):
  if abs(100-n) <= 10 or abs(200-n) <= 10:
    return True
  else:
    return False
  
print(near_hundred(93))
print(near_hundred(90))
print(near_hundred(89))

True
True
False

8. pos_neg

Given 2 int values, return True if one is negative and one is positive. Except if the parameter "negative" is True, then return True only if both are negative.


* pos_neg(1, -1, False) → True
* pos_neg(-1, 1, False) → True
* pos_neg(-4, -5, True) → True

In [0]:
def pos_neg(a, b, negative):
  if negative:
    if a<0 and b<0:
      return True
  else:
    if (a<0 and b>0) or (a>0 and b<0):
      return True
 
print(pos_neg(1,-1,False))
print(pos_neg(-1,1,False))
print(pos_neg(-4,-5,True))

True
True
True

9. not_string

Given a string, return a new string where "not " has been added to the front. However, if the string already begins with "not", return the string unchanged.


* not_string('candy') → 'not candy'
* not_string('x') → 'not x'
* not_string('not bad') → 'not bad'

In [0]:
def not_string(s):
  if s[:3] == "not":
    return s
  else:
    return "not " + s

print(not_string("candy"))
print(not_string("x"))
print(not_string("not bad"))

not candy
not x
not bad

10. missing_char

Given a non-empty string and an int n, return a new string where the char at index n has been removed. The value of n will be a valid index of a char in the original string (i.e. n will be in the range 0..len(str)-1 inclusive).


* missing_char('kitten', 1) → 'ktten'
* missing_char('kitten', 0) → 'itten'
* missing_char('kitten', 4) → 'kittn'

In [0]:
def missing_char(s,n):
  if n>=0 and n<len(s)-1:
    return s[0:n] + s[n+1:]
  
print(missing_char("kitten",1))
print(missing_char("kitten",0))
print(missing_char("kitten",4))

ktten
itten
kittn

11. front_back

Given a string, return a new string where the first and last chars have been exchanged.


* front_back('code') → 'eodc'
* front_back('a') → 'a'
* front_back('ab') → 'ba'

In [0]:
def front_back(s):
  if len(s) == 1:
    return s
  elif len(s) == 2:
    return s[1] + s[0]
  else:
    return s[-1:] + s[1:-1] + s[:1]
  
print(front_back('code'))
print(front_back('a'))
print(front_back('ab'))

eodc
a
ba

12. front3

Given a string, we'll say that the front is the first 3 chars of the string. If the string length is less than 3, the front is whatever is there. Return a new string which is 3 copies of the front.


* front3('Java') → 'JavJavJav'
* front3('Chocolate') → 'ChoChoCho'
* front3('abc') → 'abcabcabc'

In [0]:
def front3(s):
  front=s[:3]
  if(len(s)>=3):
    return front+front+front
  
print(front3("Java"))
print(front3("Chocolate"))
print(front3("abc"))

JavJavJav
ChoChoCho
abcabcabc



---

**Solutions for Warmup - 2**


1. string_times

Given a string and a non-negative int n, return a larger string that is n copies of the original string.

* string_times('Hi', 2) → 'HiHi'
* string_times('Hi', 3) → 'HiHiHi'
* string_times('Hi', 1) → 'Hi'

In [0]:
def string_times(s,n):
  if(n>0):
    return s*n

print(string_times("Hi", 2))
print(string_times("Hi", 3))
print(string_times("Hi", 1))

HiHi
HiHiHi
Hi

2. front_times

Given a string and a non-negative int n, we'll say that the front of the string is the first 3 chars, or whatever is there if the string is less than length 3. Return n copies of the front;

* front_times('Chocolate', 2) → 'ChoCho'
* front_times('Chocolate', 3) → 'ChoChoCho'
* front_times('Abc', 3) → 'AbcAbcAbc'

In [0]:
def front_times(s,n):
  if n >= 0:
    front = s[:3]
  return front*n

print(front_times("Chocolate", 2))
print(front_times("Chocolate", 3))
print(front_times("Abc", 3))

ChoCho
ChoChoCho
AbcAbcAbc

3. string_bits

Given a string, return a new string made of every other char starting with the first, so "Hello" yields "Hlo".

* string_bits('Hello') → 'Hlo'
* string_bits('Hi') → 'H'
* string_bits('Heeololeo') → 'Hello'

In [0]:
def string_bits(s):
  out = ""
  for n in range(0,len(s)):
    if n%2==0:
      out += s[n]
  return out

print(string_bits("Hello"))
print(string_bits("Hi"))
print(string_bits("Heeololeo"))

Hlo
H
Hello

4. string_splosion

Given a non-empty string like "Code" return a string like "CCoCodCode".

* string_splosion('Code') → 'CCoCodCode'
* string_splosion('abc') → 'aababc'
* string_splosion('ab') → 'aab'

In [0]:
def string_splosion(s):
  out = ''
  for i in range(len(s)+1):
    out += s[:i]
  return out

print(string_splosion("Code"))
print(string_splosion("abc"))
print(string_splosion("ab"))

CCoCodCode
aababc
aab

5. last2

Given a string, return the count of the number of times that a substring length 2 appears in the string and also as the last 2 chars of the string, so "hixxxhi" yields 1 (we won't count the end substring).

* last2('hixxhi') → 1
* last2('xaxxaxaxx') → 1
* last2('axxxaaxx') → 2

In [0]:
def last2(s):
  count = 0
  for i in range(len(s)-2):
    if s[i:i+2] == s[-2:]:
      count += 1
  return count


print(last2('hixxhi'))
print(last2('xaxxaxaxx'))
print(last2('axxxaaxx'))

1
1
2

6. array_count9

Given an array of ints, return the number of 9's in the array.

* array_count9([1, 2, 9]) → 1
* array_count9([1, 9, 9]) → 2
* array_count9([1, 9, 9, 3, 9]) → 3

In [0]:
def array_count9(nums):
  count = 0
  for i in nums:
    if i == 9:
      count += 1
  return count

print(array_count9([1, 2, 9]))
print(array_count9([1, 9, 9]))
print(array_count9([1, 9, 9, 3, 9]))

1
2
3

7. array_front9

Given an array of ints, return True if one of the first 4 elements in the array is a 9. The array length may be less than 4.

* array_front9([1, 2, 9, 3, 4]) → True
* array_front9([1, 2, 3, 4, 9]) → False
* array_front9([1, 2, 3, 4, 5]) → False

In [0]:
def array_front9(nums):
  limit = len(nums)
  if limit > 4:
    limit = 4
    
  for i in range(limit):
    if nums[i] == 9:
      return True
  return False

print(array_front9([1, 2, 9, 3, 4]))
print(array_front9([1, 2, 3, 4, 9]))
print(array_front9([1, 2, 3, 4, 5]))

True
False
False

8. array123

Given an array of ints, return True if the sequence of numbers 1, 2, 3 appears in the array somewhere.

* array123([1, 1, 2, 3, 1]) → True
* array123([1, 1, 2, 4, 1]) → False
* array123([1, 1, 2, 1, 2, 3]) → True

In [0]:
def array123(nums):
  for i in range(len(nums)-2):
    if nums[i] == 1 and nums[i+1] == 2 and nums[i+2] == 3:
      return True
  return False

print(array123([1, 1, 2, 3, 1]))
print(array123([1, 1, 2, 4, 1]))
print(array123([1, 1, 2, 1, 2, 3]))

True
False
True

9. string_match

Given 2 strings, a and b, return the number of the positions where they contain the same length 2 substring. So "xxcaazz" and "xxbaaz" yields 3, since the "xx", "aa", and "az" substrings appear in the same place in both strings.

* string_match('xxcaazz', 'xxbaaz') → 3
* string_match('abc', 'abc') → 2
* string_match('abc', 'axc') → 0

In [0]:
def string_match(a,b):
  len_a = len(a)
  len_b = len(b)
  limit = 0
  if len_a > len_b:
    limit = len_b
  else:
    limit = len_a
  
  count = 0
  for i in range(limit-1):
    if a[i:i+2] == b[i:i+2]:
      count += 1
  return count

print(string_match('xxcaazz', 'xxbaaz'))
print(string_match('abc', 'abc'))
print(string_match('abc', 'axc'))

3
2
0



---

**Solutions for String-1**

Basic python string problems -- no loops. Use + to combine strings, len(str) is the number of chars in a String, str[i:j] extracts the substring starting at index i and running up to but not including index j.

1. hello_name

Given a string name, e.g. "Bob", return a greeting of the form "Hello Bob!".


* hello_name('Bob') → 'Hello Bob!'
* hello_name('Alice') → 'Hello Alice!'
* hello_name('X') → 'Hello X!'

In [0]:
def hello_name(s):
  return "Hello " + s + "!"


print(hello_name("Bob"))
print(hello_name("Alice"))
print(hello_name("X"))

Hello Bob!
Hello Alice!
Hello X!

2. make_abba

Given two strings, a and b, return the result of putting them together in the order abba, e.g. "Hi" and "Bye" returns "HiByeByeHi".


* make_abba('Hi', 'Bye') → 'HiByeByeHi'
* make_abba('Yo', 'Alice') → 'YoAliceAliceYo'
* make_abba('What', 'Up') → 'WhatUpUpWhat'

In [0]:
def make_abba(a,b):
  return a + b + b + a

3. make_tags

The web is built with HTML strings like "<i>Yay</i>" which draws Yay as italic text. In this example, the "i" tag makes <i> and </i> which surround the word "Yay". Given tag and word strings, create the HTML string with tags around the word, e.g. "\<i>Yay\</i>".


* make_tags('i', 'Yay') → '\<i>Yay\</i>'
* make_tags('i', 'Hello') → '\<i>Hello\</i>'
* make_tags('cite', 'Yay') → '\<cite>Yay\</cite>'

In [0]:
def make_tags(tag,s):
  return "<" + tag + ">" + s + "</" + tag + ">"

4. make_out_word

Given an "out" string length 4, such as "<<>>", and a word, return a new string where the word is in the middle of the out string, e.g. "<<word>>".


* make_out_word('<<>>', 'Yay') → '\<\<Yay\>\>'
* make_out_word('<<>>', 'WooHoo') → '\<\<WooHoo\>\>'
* make_out_word('[[]]', 'word') → '[[word]]'

In [0]:
def make_out_word(out, s):
  return out[:2] + s + out[2:]

5. extra_end


Given a string, return a new string made of 3 copies of the last 2 chars of the original string. The string length will be at least 2.


* extra_end('Hello') → 'lololo'
* extra_end('ab') → 'ababab'
* extra_end('Hi') → 'HiHiHi'

In [0]:
def extra_end(s):
  return s[=2:]*3

6. first_two

Given a string, return the string made of its first two chars, so the String "Hello" yields "He". If the string is shorter than length 2, return whatever there is, so "X" yields "X", and the empty string "" yields the empty string "".


* first_two('Hello') → 'He'
* first_two('abcdefg') → 'ab'
* first_two('ab') → 'ab'

In [0]:
def first_two(s):
  if len(s) <= 2:
    return s
  else:
    return s[:2]

7.first_half

Given a string of even length, return the first half. So the string "WooHoo" yields "Woo".


* first_half('WooHoo') → 'Woo'
* first_half('HelloThere') → 'Hello'
* first_half('abcdef') → 'abc'

In [0]:
def first_half(s):
  return s[:len(s)/2]

8. without_end

Given a string, return a version without the first and last char, so "Hello" yields "ell". The string length will be at least 2.


* without_end('Hello') → 'ell'
* without_end('java') → 'av'
* without_end('coding') → 'odin'

In [0]:
def without_end(s):
  return s[1:-1]

9. combo_string

Given 2 strings, a and b, return a string of the form short+long+short, with the shorter string on the outside and the longer string on the inside. The strings will not be the same length, but they may be empty (length 0).


* combo_string('Hello', 'hi') → 'hiHellohi'
* combo_string('hi', 'Hello') → 'hiHellohi'
* combo_string('aaa', 'b') → 'baaab'

In [0]:
def combo_string(a, b):
  if len(a) > len(b):
    return b + a + b
  else
    return a + b + a

10. non_start

Given 2 strings, return their concatenation, except omit the first char of each. The strings will be at least length 1.


* non_start('Hello', 'There') → 'ellohere'
* non_start('java', 'code') → 'avaode'
* non_start('shotl', 'java') → 'hotlava'

In [0]:
def non_start(a,b):
  return a[1:] + b[1:]

11. left2

Given a string, return a "rotated left 2" version where the first 2 chars are moved to the end. The string length will be at least 2.


* left2('Hello') → 'lloHe'
* left2('java') → 'vaja'
* left2('Hi') → 'Hi'

In [0]:
def left2(s):
  return s[2:] + s[:2]



---

**Solutions for List-1**

Basic python list problems -- no loops.. Use a[0], a[1], ... to access elements in a list, len(a) is the length.

1. first_last6

Given an array of ints, return True if 6 appears as either the first or last element in the array. The array will be length 1 or more.


* first_last6([1, 2, 6]) → True
* first_last6([6, 1, 2, 3]) → True
* first_last6([13, 6, 1, 2, 3]) → False

In [0]:
def first_last6(nums):
  if nums[0] == 6 or nums[-1] == 6:
    return True
  else
    return False

2. make_pi

Return an int array length 3 containing the first 3 digits of pi, {3, 1, 4}.


* make_pi() → [3, 1, 4]

In [0]:
def make_pi():
  return [3, 1, 4]

3. common_end

Given 2 arrays of ints, a and b, return True if they have the same first element or they have the same last element. Both arrays will be length 1 or more.


* common_end([1, 2, 3], [7, 3]) → True
* common_end([1, 2, 3], [7, 3, 2]) → False
* common_end([1, 2, 3], [1, 3]) → True

In [0]:
def common_end(a, b):
  if a[0] == b[0] or a[-1] == b[-1]:
    return True
  else:
    return False

4. sum3

Given an array of ints length 3, return the sum of all the elements.


* sum3([1, 2, 3]) → 6
* sum3([5, 11, 2]) → 18
* sum3([7, 0, 0]) → 7

In [0]:
def sum3(nums):
  return sum(nums)

5. rotate_left3

Given an array of ints length 3, return an array with the elements "rotated left" so {1, 2, 3} yields {2, 3, 1}.


* rotate_left3([1, 2, 3]) → [2, 3, 1]
* rotate_left3([5, 11, 9]) → [11, 9, 5]
* rotate_left3([7, 0, 0]) → [0, 0, 7]

6. reverse3

Given an array of ints length 3, return a new array with the elements in reverse order, so {1, 2, 3} becomes {3, 2, 1}.


* reverse3([1, 2, 3]) → [3, 2, 1]
* reverse3([5, 11, 9]) → [9, 11, 5]
* reverse3([7, 0, 0]) → [0, 0, 7]

7. max_end3

Given an array of ints length 3, figure out which is larger, the first or last element in the array, and set all the other elements to be that value. Return the changed array.


* max_end3([1, 2, 3]) → [3, 3, 3]
* max_end3([11, 5, 9]) → [11, 11, 11]
* max_end3([2, 11, 3]) → [3, 3, 3]

8. sum2

Given an array of ints, return the sum of the first 2 elements in the array. If the array length is less than 2, just sum up the elements that exist, returning 0 if the array is length 0.


* sum2([1, 2, 3]) → 3
* sum2([1, 1]) → 2
* sum2([1, 1, 1, 1]) → 2

9. middle_way

Given 2 int arrays, a and b, each length 3, return a new array length 2 containing their middle elements.


* middle_way([1, 2, 3], [4, 5, 6]) → [2, 5]
* middle_way([7, 7, 7], [3, 8, 0]) → [7, 8]
* middle_way([5, 2, 9], [1, 4, 5]) → [2, 4]

10. make_ends

Given an array of ints, return a new array length 2 containing the first and last elements from the original array. The original array will be length 1 or more.


* make_ends([1, 2, 3]) → [1, 3]
* make_ends([1, 2, 3, 4]) → [1, 4]
* make_ends([7, 4, 6, 2]) → [7, 2]

11. has23

Given an int array length 2, return True if it contains a 2 or a 3.


* has23([2, 5]) → True
* has23([4, 3]) → True
* has23([4, 5]) → False



---

**Solutions for Logic-1**

Basic boolean logic puzzles -- if else and or not

1. cigar_party

When squirrels get together for a party, they like to have cigars. A squirrel party is successful when the number of cigars is between 40 and 60, inclusive. Unless it is the weekend, in which case there is no upper bound on the number of cigars. Return True if the party with the given values is successful, or False otherwise.


* cigar_party(30, False) → False
* cigar_party(50, False) → True
* cigar_party(70, True) → True

2. date_fashion

You and your date are trying to get a table at a restaurant. The parameter "you" is the stylishness of your clothes, in the range 0..10, and "date" is the stylishness of your date's clothes. The result getting the table is encoded as an int value with 0=no, 1=maybe, 2=yes. If either of you is very stylish, 8 or more, then the result is 2 (yes). With the exception that if either of you has style of 2 or less, then the result is 0 (no). Otherwise the result is 1 (maybe).


* date_fashion(5, 10) → 2
* date_fashion(5, 2) → 0
* date_fashion(5, 5) → 1

3. squirrel_play

The squirrels in Palo Alto spend most of the day playing. In particular, they play if the temperature is between 60 and 90 (inclusive). Unless it is summer, then the upper limit is 100 instead of 90. Given an int temperature and a boolean is_summer, return True if the squirrels play and False otherwise.


* squirrel_play(70, False) → True
* squirrel_play(95, False) → False
* squirrel_play(95, True) → True

4. caught_speeding

You are driving a little too fast, and a police officer stops you. Write code to compute the result, encoded as an int value: 0=no ticket, 1=small ticket, 2=big ticket. If speed is 60 or less, the result is 0. If speed is between 61 and 80 inclusive, the result is 1. If speed is 81 or more, the result is 2. Unless it is your birthday -- on that day, your speed can be 5 higher in all cases.


* caught_speeding(60, False) → 0
* caught_speeding(65, False) → 1
* caught_speeding(65, True) → 0

5. sorta_sum

Given 2 ints, a and b, return their sum. However, sums in the range 10..19 inclusive, are forbidden, so in that case just return 20.


* sorta_sum(3, 4) → 7
* sorta_sum(9, 4) → 20
* sorta_sum(10, 11) → 21

6. alarm_clock

Given a day of the week encoded as 0=Sun, 1=Mon, 2=Tue, ...6=Sat, and a boolean indicating if we are on vacation, return a string of the form "7:00" indicating when the alarm clock should ring. Weekdays, the alarm should be "7:00" and on the weekend it should be "10:00". Unless we are on vacation -- then on weekdays it should be "10:00" and weekends it should be "off".


* alarm_clock(1, False) → '7:00'
* alarm_clock(5, False) → '7:00'
* alarm_clock(0, False) → '10:00'


7. love6

The number 6 is a truly great number. Given two int values, a and b, return True if either one is 6. Or if their sum or difference is 6. Note: the function abs(num) computes the absolute value of a number.


* love6(6, 4) → True
* love6(4, 5) → False
* love6(1, 5) → True

8. in1to10

Given a number n, return True if n is in the range 1..10, inclusive. Unless outside_mode is True, in which case return True if the number is less or equal to 1, or greater or equal to 10.


* in1to10(5, False) → True
* in1to10(11, False) → False
* in1to10(11, True) → True

In [0]:
def in1to10(n, outside_mode):
  if outside_mode:
    if n <= 1 or n >= 10:
      return True
  if n >= 1 and n <= 10:
    return True
  else:
    return False
  
print(in1to10(5, False))
print(in1to10(11, False))
print(in1to10(11, True))

True
False
True

9. near_ten

Given a non-negative number "num", return True if num is within 2 of a multiple of 10. Note: (a % b) is the remainder of dividing a by b, so (7 % 5) is 2. See also: Introduction to Mod


* near_ten(12) → True
* near_ten(17) → False
* near_ten(19) → True

In [0]:
def near_ten(num):
  if((num % 10 <= 2) or (num % 10 >= 8)):
    return True
  else:
    return False
  
print(near_ten(12))
print(near_ten(17))
print(near_ten(19))

True
False
True



---

**Solutions for Logic-2**

Medium boolean logic puzzles -- if else and or not

1. make_bricks


We want to make a row of bricks that is goal inches long. We have a number of small bricks (1 inch each) and big bricks (5 inches each). Return True if it is possible to make the goal by choosing from the given bricks. This is a little harder than it looks and can be done without any loops. See also: Introduction to MakeBricks (https://codingbat.com/doc/practice/makebricks-solution-code.html)


* make_bricks(3, 1, 8) → True
* make_bricks(3, 1, 9) → False
* make_bricks(3, 2, 10) → True

2. lone_sum

Given 3 int values, a b c, return their sum. However, if one of the values is the same as another of the values, it does not count towards the sum.


* lone_sum(1, 2, 3) → 6
* lone_sum(3, 2, 3) → 2
* lone_sum(3, 3, 3) → 0

In [0]:
def lone_sum(a,b,c):
  if a==b==c:
    return 0
  if b == c:
    return a
  if a == c:
    return b
  if a == b:
    return c
  return a + b + c

print(lone_sum(1, 2, 3))
print(lone_sum(3, 2, 3))
print(lone_sum(3, 3, 3))

6
2
0

3. lucky_sum


Given 3 int values, a b c, return their sum. However, if one of the values is 13 then it does not count towards the sum and values to its right do not count. So for example, if b is 13, then both b and c do not count.


* lucky_sum(1, 2, 3) → 6
* lucky_sum(1, 2, 13) → 3
* lucky_sum(1, 13, 3) → 1

In [0]:
def lucky_sum(a,b,c):
  if a == 13:
    return 0
  if b == 13:
    return a
  if c == 13:
    return a + b
  return a + b + c

print(lucky_sum(1, 2, 3))
print(lucky_sum(1, 2, 13))
print(lucky_sum(1, 13, 3))

6
3
1

4. no_teen_sum


Given 3 int values, a b c, return their sum. However, if any of the values is a teen -- in the range 13..19 inclusive -- then that value counts as 0, except 15 and 16 do not count as a teens. Write a separate helper "def fix_teen(n):"that takes in an int value and returns that value fixed for the teen rule. In this way, you avoid repeating the teen code 3 times (i.e. "decomposition"). Define the helper below and at the same indent level as the main no_teen_sum().


* no_teen_sum(1, 2, 3) → 6
* no_teen_sum(2, 13, 1) → 3
* no_teen_sum(2, 1, 14) → 3

In [0]:
def no_teen_sum(a, b, c):
  return fix_teen(a) + fix_teen(b) + fix_teen(c)
  
def fix_teen(n):
  if n in [13,14,17,18,19]:
    return 0
  return n

print(no_teen_sum(1, 2, 3))
print(no_teen_sum(2, 13, 1))
print(no_teen_sum(2, 1, 14))

6
3
3

5. round_sum


For this problem, we'll round an int value up to the next multiple of 10 if its rightmost digit is 5 or more, so 15 rounds up to 20. Alternately, round down to the previous multiple of 10 if its rightmost digit is less than 5, so 12 rounds down to 10. Given 3 ints, a b c, return the sum of their rounded values. To avoid code repetition, write a separate helper "def round10(num):" and call it 3 times. Write the helper entirely below and at the same indent level as round_sum().


* round_sum(16, 17, 18) → 60
* round_sum(12, 13, 14) → 30
* round_sum(6, 4, 4) → 10

In [0]:
def round_sum(a,b,c):
  return round10(a) + round10(b) + round10(c)
  
  
def round10(n):
  if n%10 >= 5:
    return n + (10 - n%10)
  else:
    return n - (n%10)

print(round_sum(16, 17, 18))
print(round_sum(12, 13, 14))
print(round_sum(6, 4, 4))

60
30
10

6. close_far


Given three ints, a b c, return True if one of b or c is "close" (differing from a by at most 1), while the other is "far", differing from both other values by 2 or more. Note: abs(num) computes the absolute value of a number.


* close_far(1, 2, 10) → True
* close_far(1, 2, 3) → False
* close_far(4, 1, 3) → True

In [0]:
def close_far(a,b,c):
  if is_close(a,b) and is_far(b,c) and is_far(a,c):
    return True
  if is_close(a,c) and is_far(a,b) and is_far(b,c):
    return True
  if is_close(b,c) and is_far(a,b) and is_far(a,c):
    return True
  else:
    return False
   
  
def is_close(i,j):
  if(abs(i-j) <= 1):
    return True
  else:
    return False
  
def is_far(i,j):
  if(abs(i-j) >= 2):
    return True
  else:
    return False
  
print(close_far(1, 2, 10))
print(close_far(1, 2, 3))
print(close_far(4, 1, 3))

True
False
True

7. make_chocolate


We want make a package of goal kilos of chocolate. We have small bars (1 kilo each) and big bars (5 kilos each). Return the number of small bars to use, assuming we always use big bars before small bars. Return -1 if it can't be done.


* make_chocolate(4, 1, 9) → 4
* make_chocolate(4, 1, 10) → -1
* make_chocolate(4, 1, 7) → 2



---

**Solutions for String-2**

Medium python string problems -- 1 loop.. Use + to combine strings, len(str) is the number of chars in a String, str[i:j] extracts the substring starting at index i and running up to but not including index j.

1. double_char


Given a string, return a string where for every char in the original, there are two chars.

* double_char('The') → 'TThhee'
* double_char('AAbb') → 'AAAAbbbb'
* double_char('Hi-There') → 'HHii--TThheerree'

In [0]:
def double_char(s):
  out = ''
  for char in s:
    out += char*2
  return out

print(double_char('The'))
print(double_char('AAbb'))
print(double_char('Hi-There'))

TThhee
AAAAbbbb
HHii--TThheerree

2. count_hi


Return the number of times that the string "hi" appears anywhere in the given string.


* count_hi('abc hi ho') → 1
* count_hi('ABChi hi') → 2
* count_hi('hihi') → 2

In [0]:
def count_hi(s):
  count = 0
  stringlen = len(s)-1
  for i in range(stringlen):
    if s[i:i+2] == "hi":
      count += 1
  return count

print(count_hi('abc hi ho'))
print(count_hi('ABChi hi'))
print(count_hi('hihi'))

1
2
2

3. cat_dog

Return True if the string "cat" and "dog" appear the same number of times in the given string.


* cat_dog('catdog') → True
* cat_dog('catcat') → False
* cat_dog('1cat1cadodog') → True

In [0]:
def cat_dog(str):
  count_cat = 0
  count_dog = 0
  for i in range(len(str)-2):
    if str[i:i+3] == 'dog':
      count_dog += 1
    if str[i:i+3] == 'cat':
      count_cat += 1
   
  if count_cat == count_dog:
    return True
  else:
    return False
  
print(cat_dog('catdog'))
print(cat_dog('catcat'))
print(cat_dog('1cat1cadodog'))

True
False
True

4. count_code

Return the number of times that the string "code" appears anywhere in the given string, except we'll accept any letter for the 'd', so "cope" and "cooe" count.


* count_code('aaacodebbb') → 1
* count_code('codexxcode') → 2
* count_code('cozexxcope') → 2

In [0]:
def count_code(str):
  count = 0
  for i in range(0, len(str)-3):
    if str[i:i+2] == 'co' and str[i+3] == 'e':
      count += 1
  return count

print(count_code('aaacodebbb'))
print(count_code('codexxcode'))
print(count_code('cozexxcope'))

1
2
2

5. end_other

Given two strings, return True if either of the strings appears at the very end of the other string, ignoring upper/lower case differences (in other words, the computation should not be "case sensitive"). Note: s.lower() returns the lowercase version of a string.


* end_other('Hiabc', 'abc') → True
* end_other('AbC', 'HiaBc') → True
* end_other('abc', 'abXabc') → True

In [0]:
def end_other(a, b):
  a = a.lower()
  b = b.lower()
  return a[-(len(b)):] == b or a == b[-(len(a)):] 

print(end_other('Hiabc', 'abc'))
print(end_other('AbC', 'HiaBc'))
print(end_other('abc', 'abXabc'))

True
True
True

6. xyz_there

Return True if the given string contains an appearance of "xyz" where the xyz is not directly preceeded by a period (.). So "xxyz" counts but "x.xyz" does not.

* xyz_there('abcxyz') → True
* xyz_there('abc.xyz') → False
* xyz_there('xyz.abc') → True

In [0]:
def xyz_there(str):
  for i in range(len(str)):
    if str[i] != '.' and str[i+1:i+4] == 'xyz':
      return True
  if str[0:3] == 'xyz':
    return True
  return False

print(xyz_there('abcxyz'))
print(xyz_there('abc.xyz'))
print(xyz_there('xyz.abc'))

True
False
True



---

**Solutions for List-2**

1. count_evens

Return the number of even ints in the given array. Note: the % "mod" operator computes the remainder, e.g. 5 % 2 is 1.


* count_evens([2, 1, 2, 3, 4]) → 3
* count_evens([2, 2, 0]) → 3
* count_evens([1, 3, 5]) → 0

In [0]:
def count_evens(nums):
  count = 0
  for element in nums:
    if element % 2 == 0:
      count += 1
  return count

print(count_evens([2, 1, 2, 3, 4]))
print(count_evens([2, 2, 0]))
print(count_evens([1, 3, 5]))

3
3
0

2. big_diff

Given an array length 1 or more of ints, return the difference between the largest and smallest values in the array. Note: the built-in min(v1, v2) and max(v1, v2) functions return the smaller or larger of two values.


* big_diff([10, 3, 5, 6]) → 7
* big_diff([7, 2, 10, 9]) → 8
* big_diff([2, 10, 7, 2]) → 8

In [0]:
def big_diff(nums):
  return max(nums) - min(nums)

print(big_diff([10, 3, 5, 6]))
print(big_diff([7, 2, 10, 9]))
print(big_diff([2, 10, 7, 2]))

7
8
8

3. centered_average


Return the "centered" average of an array of ints, which we'll say is the mean average of the values, except ignoring the largest and smallest values in the array. If there are multiple copies of the smallest value, ignore just one copy, and likewise for the largest value. Use int division to produce the final average. You may assume that the array is length 3 or more.


* centered_average([1, 2, 3, 4, 100]) → 3
* centered_average([1, 1, 5, 5, 10, 8, 7]) → 5
* centered_average([-10, -4, -2, -4, -2, 0]) → -3

In [0]:
def centered_average(nums):
  return (sum(nums) - min(nums) - max(nums)) / (len(nums)-2)

print(round(centered_average([1, 2, 3, 4, 100])))
print(round(centered_average([1, 1, 5, 5, 10, 8, 7])))
print(round(centered_average([-10, -4, -2, -4, -2, 0])))

3
5
-3

4. sum13


Return the sum of the numbers in the array, returning 0 for an empty array. Except the number 13 is very unlucky, so it does not count and numbers that come immediately after a 13 also do not count.


* sum13([1, 2, 2, 1]) → 6
* sum13([1, 1]) → 2
* sum13([1, 2, 2, 1, 13]) → 6

In [0]:
def sum13(nums):
  if len(nums) == 0:
    return 0
 
  for i in range(0, len(nums)):
    if nums[i] == 13:
      nums[i] = 0
      if i+1 < len(nums): 
        nums[i+1] = 0
  return sum(nums)

print(sum13([1, 2, 2, 1]))
print(sum13([1, 1]))
print(sum13([1, 2, 2, 1, 13]))

6
2
6

5. sum67

Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 7 (every 6 will be followed by at least one 7). Return 0 for no numbers.


* sum67([1, 2, 2]) → 5
* sum67([1, 2, 2, 6, 99, 99, 7]) → 5
* sum67([1, 1, 6, 7, 2]) → 4

In [0]:
def sum67(nums):
  for i in range(0, len(nums)):
    if nums[i] == 6:
      nums[i] = 0
      for j in range(i+1, len(nums)):
        temp = nums[j]
        nums[j] = 0
        if temp == 7:
          i = j + 1
          break
  return sum(nums)

print(sum67([1, 2, 2]))
print(sum67([1, 2, 2, 6, 99, 99, 7]))
print(sum67([1, 1, 6, 7, 2]))

5
5
4

6. has22


Given an array of ints, return True if the array contains a 2 next to a 2 somewhere.


* has22([1, 2, 2]) → True
* has22([1, 2, 1, 2]) → False
* has22([2, 1, 2]) → False

In [0]:
def has22(nums):
  for i in range(0, len(nums)-1):
    if nums[i] == 2 and nums[i+1] == 2:
      return True    
  return False

print(has22([1, 2, 2]))
print(has22([1, 2, 1, 2]))
print(has22([2, 1, 2]))

True
False
False